{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <script src="https://kit.fontawesome.com/5d4ee011b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style/style.css/' %}">
    
</head>
<body> 
 
    
  <div class="header">
      <div class="main_header">
          <h3 class="logo">ASK.COM</h3>
          <form action="">
              <input type="text" class="search" name="search" id="" placeholder="Search Your Question">
          </form>
          
          <a class="register-btn" href="/signup"><i class="fa-solid fa-magnifying-glass"></i>Register / Login</a>
      </div>
     
  </div>
 
  <div class="banner">
      <div class="main_banner">
          <h2>Welcome To ASK.COM</h2>
          <p>Ask Any Question And <br> Get Answered</p>
          <a href="https://google.com" target="_blank" class="ask_question">Ask  Question</a>
      </div>
          
  </div>

       {% block body %}
       {% block overview %} {% endblock overview %}
       
    
{% endblock body %}
   {% block footer %} {% endblock footer %}
</body>
</html>