{% extends 'base.html' %}
{% load static %}
{% block banner %}
<div class="banner">
    <div class="main_banner">
        <h2>Welcome To ASK.COM</h2>
        <p>Ask Any Question And <br> Get Answered</p>
        <a href="/ask_question"  class="ask_question">Ask  Question</a>
    </div>
        
</div>
{% endblock banner %}

    {% block body %}
    <div class="container bg">
        
        <div class="main_container">
            
         <div class="left_main_container">

            {% for question in questions %}

            <div class="question">
                <!-- <div class="logo_section">
                <a href="" class="logo_a"><img class="logo_img" src="{% static 'img/mohot.jpg' %}" alt=""></a>
            </div> -->
            <div class="rest">
                <a class="title_a" href="/answer/{{ question.id }}"><h3 class="question_title">{{ question.title }}</h3></a>
                <div class="category_section">
                    <a href="#" class="cat">{{ question.cat_name }}</a>
                   
                
                </div>
                <p class="time">{{ question.time }}</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
{% endfor %}

    

         </div>
         <div class="right_main_container">
            
            <div class="overview">
                <p class="p1">6.5k<br>  Questions</p>
                <p class="p1">6.3k<br>Answered</p>
                <p class="p1">99%<br>Answered</p>

            </div>
            
            <div class="top_user">
                <h3>Top Users</h3>
                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>

                <div class="user">
                    <a href=""><img src="{% static 'img/mohot.jpg' %}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>
            </div>
         </div>
        </div>
        {% block pagination %}
        <div class="pagination_section">
            <div class="main_pagination_section">

                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
            </div>

        </div>
      
    
        {% endblock pagination %}
          
             
</div>
{% endblock body %}
{% block footer %} <div class="footer">All Right Reserved @ ask.com</div> {% endblock footer%}

